ub_frontend/ub_frontend/Connected Services/UbuntuWearsReference/UbuntuWearsService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52145/UbuntuWearsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ub_backend" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="LoginResult" nillable="true" type="q1:ServiceResponseOfUserItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="user" nillable="true" type="q2:User" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="RegisterResult" nillable="true" type="q3:ServiceResponseOfUserItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="token" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="LogoutResult" nillable="true" type="q4:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAdmin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsAdminResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsAdminResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="UserE" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="UpdateUserResult" nillable="true" type="q6:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetUserResult" nillable="true" type="q7:ServiceResponseOfUserItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProducts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetProductsResult" nillable="true" type="q8:ServiceResponseOfArrayOfProductEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetProductsByCategoryResult" nillable="true" type="q9:ServiceResponseOfArrayOfProductEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturedProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFeaturedProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetFeaturedProductsResult" nillable="true" type="q10:ServiceResponseOfArrayOfProductEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetProductResult" nillable="true" type="q11:ServiceResponseOfProductEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProducts">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchTerm" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchProductsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="SearchProductsResult" nillable="true" type="q12:ServiceResponseOfArrayOfProductEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="product" nillable="true" type="q13:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="AddProductResult" nillable="true" type="q14:ServiceResponseOfProductItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="product" nillable="true" type="q15:Product" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="UpdateProductResult" nillable="true" type="q16:ServiceResponseOfProductItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="DeleteProductResult" nillable="true" type="q17:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCartItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetCartItemsResult" nillable="true" type="q18:ServiceResponseOfArrayOfCartItemItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="AddToCartResult" nillable="true" type="q19:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartItem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="cartItemId" type="xs:int" />
        <xs:element minOccurs="0" name="quantity" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCartItemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="UpdateCartItemResult" nillable="true" type="q20:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="cartItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="RemoveFromCartResult" nillable="true" type="q21:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCart">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClearCartResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="ClearCartResult" nillable="true" type="q22:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetUserOrdersResult" nillable="true" type="q23:ServiceResponseOfArrayOfOrderEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRecentOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetRecentOrdersResult" nillable="true" type="q24:ServiceResponseOfArrayOfOrderItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetOrdersByCategoryResult" nillable="true" type="q25:ServiceResponseOfArrayOfOrderEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetOrderResult" nillable="true" type="q26:ServiceResponseOfOrderEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="order" nillable="true" type="q27:Order" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="items" nillable="true" type="q28:ArrayOfOrderItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="CreateOrderResult" nillable="true" type="q29:ServiceResponseOfOrderItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="UpdateOrderStatusResult" nillable="true" type="q30:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPayment">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="payment" nillable="true" type="q31:Payment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProcessPaymentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="ProcessPaymentResult" nillable="true" type="q32:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetWishlistResult" nillable="true" type="q33:ServiceResponseOfArrayOfWishlistItemItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="productId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddToWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="AddToWishlistResult" nillable="true" type="q34:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWishlist">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="wishlistItemId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveFromWishlistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="RemoveFromWishlistResult" nillable="true" type="q35:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardStats">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDashboardStatsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetDashboardStatsResult" nillable="true" type="q36:ServiceResponseOfDashboardStatsItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetUsersResult" nillable="true" type="q37:ServiceResponseOfArrayOfUserEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetAllOrdersResult" nillable="true" type="q38:ServiceResponseOfArrayOfOrderItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="orderId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GenerateInvoiceResult" nillable="true" type="q39:ServiceResponseOfInvoiceEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoices">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetInvoicesResult" nillable="true" type="q40:ServiceResponseOfArrayOfInvoiceEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoice">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetInvoiceResult" nillable="true" type="q41:ServiceResponseOfInvoiceEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSalesReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateSalesReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GenerateSalesReportResult" nillable="true" type="q42:ServiceResponseOfSalesReportItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInventoryReport">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateInventoryReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GenerateInventoryReportResult" nillable="true" type="q43:ServiceResponseOfInventoryReportItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCustomerReport">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerateCustomerReportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GenerateCustomerReportResult" nillable="true" type="q44:ServiceResponseOfCustomerReportItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneratedReports">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="reportType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGeneratedReportsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetGeneratedReportsResult" nillable="true" type="q45:ServiceResponseOfArrayOfReportEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAdminUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetAdminUsersResult" nillable="true" type="q46:ServiceResponseOfArrayOfUserEntityItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDiscounts">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDiscountsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetAllDiscountsResult" nillable="true" type="q47:ServiceResponseOfArrayOfDiscountAItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetDiscountResult" nillable="true" type="q48:ServiceResponseOfDiscountAItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="discount" nillable="true" type="q49:DiscountA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="CreateDiscountResult" nillable="true" type="q50:ServiceResponseOfDiscountAItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="discount" nillable="true" type="q51:DiscountA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="UpdateDiscountResult" nillable="true" type="q52:ServiceResponseOfDiscountAItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleDiscountStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToggleDiscountStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="ToggleDiscountStatusResult" nillable="true" type="q53:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discountId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="DeleteDiscountResult" nillable="true" type="q54:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyDiscount">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="discountCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="orderAmount" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ApplyDiscountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="ApplyDiscountResult" nillable="true" type="q55:ServiceResponseOfdecimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAddresses">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserAddressesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetUserAddressesResult" nillable="true" type="q56:ServiceResponseOfArrayOfAddressItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="GetAddressResult" nillable="true" type="q57:ServiceResponseOfAddressItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="address" nillable="true" type="q58:Address" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="SaveAddressResult" nillable="true" type="q59:ServiceResponseOfAddressItb6xEvN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="DeleteAddressResult" nillable="true" type="q60:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultAddress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" type="xs:int" />
        <xs:element minOccurs="0" name="addressId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetDefaultAddressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/ub_backend" minOccurs="0" name="SetDefaultAddressResult" nillable="true" type="q61:ServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>